 <link rel="stylesheet" href="/src/css/login.css" />
<div class="login-card">
    <h2>Login</h2>
    <h3>Insira suas credenciais</h3>
    <form class="login-form">
        <input
            type="text"
            placeholder="Username" />
        <input
            type="password"
            placeholder="senha" />
        <a href="/">Esqueceu sua senha?</a>
        <button>LOGIN</button>
    </form>
</div>